    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-abacus-hand-drawn-tool:before { content: "\f100"; }
.flaticon-add-folder-hand-drawn-interface-symbol:before { content: "\f101"; }
.flaticon-add-hand-drawn-button-outline:before { content: "\f102"; }
.flaticon-add-suitcase-hand-drawn-symbol:before { content: "\f103"; }
.flaticon-add-text-interface-hand-drawn-symbol-outline:before { content: "\f104"; }
.flaticon-add-to-list-hand-drawn-interface-symbol:before { content: "\f105"; }
.flaticon-add-user-hand-drawn-outline:before { content: "\f106"; }
.flaticon-address-book-hand-drawn-outline:before { content: "\f107"; }
.flaticon-agenda-hand-drawn-tool-outline:before { content: "\f108"; }
.flaticon-alert-hand-drawn-sign:before { content: "\f109"; }
.flaticon-alert-hand-drawn-symbol:before { content: "\f10a"; }
.flaticon-alien-hand-drawn-head-outline:before { content: "\f10b"; }
.flaticon-american-football-ball-hand-drawn-outline:before { content: "\f10c"; }
.flaticon-analytics-hand-drawn-lines:before { content: "\f10d"; }
.flaticon-anchor-hand-drawn-tool:before { content: "\f10e"; }
.flaticon-android-hand-drawn-logo-outline:before { content: "\f10f"; }
.flaticon-apple-brand-hand-drawn-logo-outline:before { content: "\f110"; }
.flaticon-apple-hand-drawn-fruit-outline:before { content: "\f111"; }
.flaticon-arch-with-arrow-hand-drawn-tool:before { content: "\f112"; }
.flaticon-archive-hand-drawn-box-symbol:before { content: "\f113"; }
.flaticon-arroba-hand-drawn-symbol:before { content: "\f114"; }
.flaticon-arrow-point-hand-drawn-outline-pointing-to-right-direction:before { content: "\f115"; }
.flaticon-arrow-pointing-to-left-hand-drawn-outline:before { content: "\f116"; }
.flaticon-arrow-pointing-to-right-hand-drawn-symbol:before { content: "\f117"; }
.flaticon-arrow-pointing-up-hand-drawn-symbol:before { content: "\f118"; }
.flaticon-arrows-hand-drawn-interface-symbol-outlines:before { content: "\f119"; }
.flaticon-atom-hand-drawn-symbol:before { content: "\f11a"; }
.flaticon-attention-hand-drawn-symbol-of-an-exclamation-sign-inside-bald-head-from-side-view:before { content: "\f11b"; }
.flaticon-back-arrow-hand-drawn-sign:before { content: "\f11c"; }
.flaticon-back-arrow-pointing-left-hand-drawn-symbol:before { content: "\f11d"; }
.flaticon-back-hand-drawn-arrow:before { content: "\f11e"; }
.flaticon-back-hand-drawn-arrow-outline:before { content: "\f11f"; }
.flaticon-baggage-suitcase-hand-drawn-outline-from-side-view:before { content: "\f120"; }
.flaticon-balance-scale-hand-drawn-symbol:before { content: "\f121"; }
.flaticon-balloon-hand-drawn-outline:before { content: "\f122"; }
.flaticon-bars-graphic-hand-drawn-outlines:before { content: "\f123"; }
.flaticon-bars-graphic-up-hand-drawn-symbol:before { content: "\f124"; }
.flaticon-battery-two-thirds-status-hand-drawn-outline:before { content: "\f125"; }
.flaticon-beer-jar-hand-drawn-outline:before { content: "\f126"; }
.flaticon-behance-hand-drawn-symbol:before { content: "\f127"; }
.flaticon-bell-hand-drawn-interface-symbol:before { content: "\f128"; }
.flaticon-bike-hand-drawn-transport:before { content: "\f129"; }
.flaticon-bird-part-meat-hand-drawn-outline:before { content: "\f12a"; }
.flaticon-bomb-hand-drawn-interface-symbol-outline:before { content: "\f12b"; }
.flaticon-book-hand-drawn-open-pages:before { content: "\f12c"; }
.flaticon-bookmark-hand-drawn-outline:before { content: "\f12d"; }
.flaticon-bookmarks-hand-drawn-outline:before { content: "\f12e"; }
.flaticon-box-package-with-an-up-arrow-hand-drawn-symbol:before { content: "\f12f"; }
.flaticon-box-with-an-arrow-sign-pointing-down-hand-drawn-symbol:before { content: "\f130"; }
.flaticon-boy-hand-drawn-face:before { content: "\f131"; }
.flaticon-bright-hand-drawn-button-sign:before { content: "\f132"; }
.flaticon-bright-hand-drawn-interface-symbol-outline:before { content: "\f133"; }
.flaticon-bug-hand-drawn-symbol:before { content: "\f134"; }
.flaticon-business-graphic-down-hand-drawn-symbol:before { content: "\f135"; }
.flaticon-business-man-hand-drawn-outline:before { content: "\f136"; }
.flaticon-business-report-graphic-with-descendant-line-hand-drawn-symbol:before { content: "\f137"; }
.flaticon-calculator-hand-drawn-tool:before { content: "\f138"; }
.flaticon-calendar-hand-drawn-tool:before { content: "\f139"; }
.flaticon-cancel-circular-button-with-a-cross-inside-hand-drawn-outlines:before { content: "\f13a"; }
.flaticon-cancel-hand-drawn-cross-in-square-button-outline:before { content: "\f13b"; }
.flaticon-cancel-suitcase-hand-drawn-interface-symbol:before { content: "\f13c"; }
.flaticon-cancer-ribbon-hand-drawn-outline:before { content: "\f13d"; }
.flaticon-chat-bubble-hand-drawn-outline:before { content: "\f13e"; }
.flaticon-chat-bubbles-couple-hand-drawn-outlines:before { content: "\f13f"; }
.flaticon-checkmark-hand-drawn-outline:before { content: "\f140"; }
.flaticon-chemical-hand-drawn-container:before { content: "\f141"; }
.flaticon-chicken-hand-drawn-outline:before { content: "\f142"; }
.flaticon-clip-hand-drawn-shape:before { content: "\f143"; }
.flaticon-clipboard-hand-drawn-interface-symbol:before { content: "\f144"; }
.flaticon-clipboard-hand-drawn-symbol:before { content: "\f145"; }
.flaticon-clipboard-with-checkmark-hand-drawn-symbol:before { content: "\f146"; }
.flaticon-closed-tag-hand-drawn-signs:before { content: "\f147"; }
.flaticon-cloud-hand-drawn-outline:before { content: "\f148"; }
.flaticon-codebar-hand-drawn-lines-and-numbers:before { content: "\f149"; }
.flaticon-coffee-glass-hand-drawn-outline:before { content: "\f14a"; }
.flaticon-coffee-hot-mug-hand-drawn-outline:before { content: "\f14b"; }
.flaticon-cogwheel-hand-drawn-outline:before { content: "\f14c"; }
.flaticon-coins-stacks-of-dollars-hand-drawn-commercial-symbol:before { content: "\f14d"; }
.flaticon-compass-hand-drawn-circular-tool-outline:before { content: "\f14e"; }
.flaticon-completed-tasks-hand-drawn-clipboard-sign-with-verification-mark:before { content: "\f14f"; }
.flaticon-cone-for-traffic-hand-drawn-tool:before { content: "\f150"; }
.flaticon-configuration-hand-drawn-couple-of-cogwheels-outlines:before { content: "\f151"; }
.flaticon-configuration-hand-drawn-interface-symbol-of-tools-a-pencil-and-a-wrench-cross:before { content: "\f152"; }
.flaticon-connection-hand-drawn-symbol:before { content: "\f153"; }
.flaticon-connection-hand-drawn-symbol-1:before { content: "\f154"; }
.flaticon-contacts-book-hand-drawn:before { content: "\f155"; }
.flaticon-crane-hand-drawn-bones-outline:before { content: "\f156"; }
.flaticon-crown-hand-drawn-outline:before { content: "\f157"; }
.flaticon-css-file-hand-drawn-outline:before { content: "\f158"; }
.flaticon-cupcake-hand-drawn-dessert:before { content: "\f159"; }
.flaticon-cutlery:before { content: "\f15a"; }
.flaticon-cycle-couple-of-arrows-hand-drawn-lines:before { content: "\f15b"; }
.flaticon-dashboard-hand-drawn-tool:before { content: "\f15c"; }
.flaticon-database-hand-drawn-interface-symbol-outline:before { content: "\f15d"; }
.flaticon-delete-cloud-file-hand-drawn-interface-symbol:before { content: "\f15e"; }
.flaticon-delete-folder-hand-drawn-outline:before { content: "\f15f"; }
.flaticon-delete-folder-hand-drawn-symbol-outline-with-minus-sign:before { content: "\f160"; }
.flaticon-delete-hand-drawn-cross-symbol-outline:before { content: "\f161"; }
.flaticon-delete-page-hand-drawn-symbol:before { content: "\f162"; }
.flaticon-delete-user-hand-drawn-symbol:before { content: "\f163"; }
.flaticon-delicious-hand-drawn-logo:before { content: "\f164"; }
.flaticon-descending-graphic-hand-drawn-outline:before { content: "\f165"; }
.flaticon-diamond-hand-drawn-outline-side-view:before { content: "\f166"; }
.flaticon-directional-arrows-signal-hand-drawn-symbol-pointing-left-and-right-opposite-directions:before { content: "\f167"; }
.flaticon-directions-of-winds-star-hand-drawn-symbol:before { content: "\f168"; }
.flaticon-dna-hand-drawn-symbol:before { content: "\f169"; }
.flaticon-document-file-hand-drawn-symbol:before { content: "\f16a"; }
.flaticon-document-hand-drawn-outline:before { content: "\f16b"; }
.flaticon-dont-like-symbol:before { content: "\f16c"; }
.flaticon-down-arrow-hand-drawn-outline:before { content: "\f16d"; }
.flaticon-down-arrow-hand-drawn-sign:before { content: "\f16e"; }
.flaticon-down-arrow-hand-drawn-triangle:before { content: "\f16f"; }
.flaticon-down-button-hand-drawn-arrow-and-squares-outlines:before { content: "\f170"; }
.flaticon-down-page-hand-drawn-symbol:before { content: "\f171"; }
.flaticon-download-hand-drawn-interface-symbol-of-a-tray-with-a-descending-arrow-on-it:before { content: "\f172"; }
.flaticon-drawers-hand-drawn-tool-outline:before { content: "\f173"; }
.flaticon-dribbble-hand-drawn-logo:before { content: "\f174"; }
.flaticon-dropper-hand-drawn-outline:before { content: "\f175"; }
.flaticon-edit-hand-drawn-interface-symbol:before { content: "\f176"; }
.flaticon-edit-note-hand-drawn-interface-symbol:before { content: "\f177"; }
.flaticon-eject-hand-drawn-symbol:before { content: "\f178"; }
.flaticon-empty-battery-hand-drawn-interface-symbol:before { content: "\f179"; }
.flaticon-eps-vector-file-hand-drawn-symbol:before { content: "\f17a"; }
.flaticon-euro-hand-drawn-currency-symbol:before { content: "\f17b"; }
.flaticon-exit-hand-drawn-interface-symbol:before { content: "\f17c"; }
.flaticon-exit-hand-drawn-interface-symbol-variant:before { content: "\f17d"; }
.flaticon-expand-hand-drawn-interface-arrows-symbol-outline:before { content: "\f17e"; }
.flaticon-expand-hand-drawn-interface-symbol-of-two-opposite-arrows-outlines:before { content: "\f17f"; }
.flaticon-export-hand-drawn-symbol:before { content: "\f180"; }
.flaticon-eye-hand-drawn-variant:before { content: "\f181"; }
.flaticon-facebook-letter-logo-in-a-square-hand-drawn-outline:before { content: "\f182"; }
.flaticon-factory-hand-drawn-building-outline:before { content: "\f183"; }
.flaticon-favorite-user-hand-drawn-interface-symbol:before { content: "\f184"; }
.flaticon-feather-hand-drawn-outline:before { content: "\f185"; }
.flaticon-female-hand-drawn-symbol-outline:before { content: "\f186"; }
.flaticon-fire-hand-drawn-flames-outlines:before { content: "\f187"; }
.flaticon-flag-hand-drawn-outline:before { content: "\f188"; }
.flaticon-fonts-hand-drawn-symbol-outline:before { content: "\f189"; }
.flaticon-forward-arrow-hand-drawn-button:before { content: "\f18a"; }
.flaticon-forward-hand-drawn-arrow-pointing-to-right:before { content: "\f18b"; }
.flaticon-foursquare-hand-drawn-logo-outline:before { content: "\f18c"; }
.flaticon-free-tag-hand-drawn-sign:before { content: "\f18d"; }
.flaticon-full-battery-symbol-hand-drawn-outline:before { content: "\f18e"; }
.flaticon-funnel-hand-drawn-symbol:before { content: "\f18f"; }
.flaticon-gallery-hand-drawn-interface-symbol-of-irregular-squares-outlines:before { content: "\f190"; }
.flaticon-game-controller-hand-drawn-tool:before { content: "\f191"; }
.flaticon-gif-image-file-hand-drawn-outline:before { content: "\f192"; }
.flaticon-gift-box-hand-drawn-outline:before { content: "\f193"; }
.flaticon-glass-hand-drawn-outline:before { content: "\f194"; }
.flaticon-go-to-the-top-hand-drawn-interface-symbol-with-an-arrow-pointing-up-to-a-thin-rectangle:before { content: "\f195"; }
.flaticon-graduate-hand-drawn-hat-outline:before { content: "\f196"; }
.flaticon-gym-dumbbell-hand-drawn-tool:before { content: "\f197"; }
.flaticon-hand-drawn-google-plus-logo:before { content: "\f198"; }
.flaticon-hdd-hand-drawn-symbol-outline:before { content: "\f199"; }
.flaticon-headphones-hand-drawn-tool:before { content: "\f19a"; }
.flaticon-heart-hand-drawn-symbol-outline:before { content: "\f19b"; }
.flaticon-heart-with-cupid-arrow-hand-drawn-symbol:before { content: "\f19c"; }
.flaticon-horseshoe-with-holes-hand-drawn-outline:before { content: "\f19d"; }
.flaticon-hot-dog-hand-drawn-food-outline:before { content: "\f19e"; }
.flaticon-house-hand-drawn-outline:before { content: "\f19f"; }
.flaticon-html-file-hand-drawn-symbol:before { content: "\f1a0"; }
.flaticon-ice-cream-on-a-cone-hand-drawn-dessert:before { content: "\f1a1"; }
.flaticon-id-hand-drawn-symbol:before { content: "\f1a2"; }
.flaticon-idea-hand-drawn-symbol-of-a-side-head-with-a-lightbulb-inside:before { content: "\f1a3"; }
.flaticon-illustrator-file-hand-drawn-interface-symbol:before { content: "\f1a4"; }
.flaticon-inbox-hand-drawn-tray-symbol-with-an-arrow:before { content: "\f1a5"; }
.flaticon-inbox-hand-drawn-tray-with-arrow:before { content: "\f1a6"; }
.flaticon-incomplete-hand-drawn-symbol:before { content: "\f1a7"; }
.flaticon-increase-zoom-hand-drawn-symbol:before { content: "\f1a8"; }
.flaticon-infinite-hand-drawn-sign:before { content: "\f1a9"; }
.flaticon-information-hand-drawn-circular-button:before { content: "\f1aa"; }
.flaticon-information-hand-drawn-irregular-button:before { content: "\f1ab"; }
.flaticon-instagram-hand-drawn-logo:before { content: "\f1ac"; }
.flaticon-java-script-hand-drawn-file:before { content: "\f1ad"; }
.flaticon-join-of-four-arrows-hand-drawn-outlines:before { content: "\f1ae"; }
.flaticon-jpg-hand-drawn-file-symbol:before { content: "\f1af"; }
.flaticon-jump-hand-drawn-arrow:before { content: "\f1b0"; }
.flaticon-key-hand-drawn-outline:before { content: "\f1b1"; }
.flaticon-keyboard-hand-drawn-irregular-tool-shape-outline:before { content: "\f1b2"; }
.flaticon-kilometers-route-signal-hand-drawn-outline:before { content: "\f1b3"; }
.flaticon-lantern-on-hand-drawn-tool-outline:before { content: "\f1b4"; }
.flaticon-leaf-hand-drawn-shape:before { content: "\f1b5"; }
.flaticon-left-arrow-hand-drawn-outline:before { content: "\f1b6"; }
.flaticon-left-arrow-hand-drawn-triangle:before { content: "\f1b7"; }
.flaticon-left-arrow-hand-drawn-triangular-shape:before { content: "\f1b8"; }
.flaticon-left-button-with-an-arrow-hand-drawn-symbol:before { content: "\f1b9"; }
.flaticon-less-zoom-hand-drawn-symbol:before { content: "\f1ba"; }
.flaticon-life-guard-hand-drawn-tool:before { content: "\f1bb"; }
.flaticon-lifeline-hand-drawn-status-line:before { content: "\f1bc"; }
.flaticon-lightbulb-hand-drawn-symbol:before { content: "\f1bd"; }
.flaticon-like-thumb-up-hand-drawn-symbol-outline:before { content: "\f1be"; }
.flaticon-link-hand-drawn-interface-symbol:before { content: "\f1bf"; }
.flaticon-link-hand-drawn-symbol:before { content: "\f1c0"; }
.flaticon-linkedin-logo-hand-drawn-outline:before { content: "\f1c1"; }
.flaticon-list-items-hand-drawn-symbol-outlines:before { content: "\f1c2"; }
.flaticon-list-menu-hand-drawn-symbol-of-three-thin-rectangles-outlines:before { content: "\f1c3"; }
.flaticon-list-paper-hand-drawn-symbol:before { content: "\f1c4"; }
.flaticon-location-pin-hand-drawn-sign:before { content: "\f1c5"; }
.flaticon-lock-hand-drawn-padlock-symbol:before { content: "\f1c6"; }
.flaticon-love-hand-drawn-couple-of-hearts:before { content: "\f1c7"; }
.flaticon-love-hand-drawn-heart-symbol-outline:before { content: "\f1c8"; }
.flaticon-low-battery-hand-drawn-interface-symbol:before { content: "\f1c9"; }
.flaticon-magic-wand-hand-drawn-tool:before { content: "\f1ca"; }
.flaticon-magnet-hand-drawn-tool-outline:before { content: "\f1cb"; }
.flaticon-magnifying-glass-hand-drawn-tool:before { content: "\f1cc"; }
.flaticon-mail-envelope-back-hand-drawn-outline:before { content: "\f1cd"; }
.flaticon-male-hand-drawn-symbol-outline:before { content: "\f1ce"; }
.flaticon-map-hand-drawn-paper:before { content: "\f1cf"; }
.flaticon-map-location-hand-drawn-interface-symbol:before { content: "\f1d0"; }
.flaticon-megaphone-hand-drawn-tool-outline:before { content: "\f1d1"; }
.flaticon-menu-curve-lines-variant-hand-drawn-outlines:before { content: "\f1d2"; }
.flaticon-menu-hand-drawn-lines-outlines:before { content: "\f1d3"; }
.flaticon-microphone-hand-drawn-voice-interface-symbol-outline:before { content: "\f1d4"; }
.flaticon-microscope-hand-drawn-tool-outline:before { content: "\f1d5"; }
.flaticon-minus-sign-in-a-circle-hand-drawn-outlines:before { content: "\f1d6"; }
.flaticon-minus-sign-inside-a-square-hand-drawn-symbol:before { content: "\f1d7"; }
.flaticon-money-bag-hand-drawn-variant:before { content: "\f1d8"; }
.flaticon-money-paper-of-dollars-hand-drawn-symbol:before { content: "\f1d9"; }
.flaticon-money-stack-hand-drawn-outline:before { content: "\f1da"; }
.flaticon-money-symbol-hand-drawn-outline:before { content: "\f1db"; }
.flaticon-monitoring-graphic-hand-drawn-symbol:before { content: "\f1dc"; }
.flaticon-moon-hand-drawn-circle:before { content: "\f1dd"; }
.flaticon-moon-phase-hand-drawn-outline:before { content: "\f1de"; }
.flaticon-mosaic-of-four-hand-drawn-squares-tiles:before { content: "\f1df"; }
.flaticon-mosaic-of-nine-square-tiles-hand-drawn-symbol:before { content: "\f1e0"; }
.flaticon-mouse-hand-drawn-tool:before { content: "\f1e1"; }
.flaticon-mug-coffee-hand-drawn-symbol:before { content: "\f1e2"; }
.flaticon-musical-note-hand-drawn-outline:before { content: "\f1e3"; }
.flaticon-musical-symbol-hand-drawn-outline:before { content: "\f1e4"; }
.flaticon-mustache-and-glasses-hand-drawn-outlines:before { content: "\f1e5"; }
.flaticon-new-tag-hand-drawn-outline:before { content: "\f1e6"; }
.flaticon-next-hand-drawn-arrow-pointing-to-right:before { content: "\f1e7"; }
.flaticon-next-page-hand-drawn-symbol:before { content: "\f1e8"; }
.flaticon-next-user-hand-drawn-interface-symbol:before { content: "\f1e9"; }
.flaticon-no-sound-hand-drawn-symbol-of-a-speaker-outline-with-a-cross:before { content: "\f1ea"; }
.flaticon-octocat-hand-drawn-logo-outline:before { content: "\f1eb"; }
.flaticon-old-man-hand-drawn-face:before { content: "\f1ec"; }
.flaticon-open-commercial-signal-hand-drawn-outline:before { content: "\f1ed"; }
.flaticon-outbox-hand-drawn-symbol:before { content: "\f1ee"; }
.flaticon-pages-hand-drawn-interface-symbol:before { content: "\f1ef"; }
.flaticon-paint-brush-hand-drawn-tool:before { content: "\f1f0"; }
.flaticon-painting-palette-hand-drawn-tool:before { content: "\f1f1"; }
.flaticon-palm-hand-drawn-tree:before { content: "\f1f2"; }
.flaticon-paper-file-hand-drawn-symbol:before { content: "\f1f3"; }
.flaticon-paper-hand-drawn-symbol:before { content: "\f1f4"; }
.flaticon-paper-list-hand-drawn-symbol:before { content: "\f1f5"; }
.flaticon-paper-plane-hand-drawn-outline:before { content: "\f1f6"; }
.flaticon-paper-sheet-hand-drawn-interface-file-symbol:before { content: "\f1f7"; }
.flaticon-paper-tray-hand-drawn-outline:before { content: "\f1f8"; }
.flaticon-pause-hand-drawn-symbol:before { content: "\f1f9"; }
.flaticon-pdf-file-hand-drawn-symbol:before { content: "\f1fa"; }
.flaticon-pen-hand-drawn-tool-outline:before { content: "\f1fb"; }
.flaticon-pencil-hand-drawn-tool-outline:before { content: "\f1fc"; }
.flaticon-phone-hand-drawn-outline:before { content: "\f1fd"; }
.flaticon-php-file-hand-drawn-interface-symbol:before { content: "\f1fe"; }
.flaticon-pi-hand-drawn-symbol:before { content: "\f1ff"; }
.flaticon-picture-hanging-in-a-frame-hand-drawn-symbol:before { content: "\f200"; }
.flaticon-picture-of-a-landscape-hand-drawn-symbol:before { content: "\f201"; }
.flaticon-pie-graphic-hand-drawn-business-symbol:before { content: "\f202"; }
.flaticon-pin-hand-drawn-irregular-outline:before { content: "\f203"; }
.flaticon-pine-hand-drawn-tree-outline:before { content: "\f204"; }
.flaticon-pinterest-hand-drawn-logo:before { content: "\f205"; }
.flaticon-pipe-hand-drawn-tool:before { content: "\f206"; }
.flaticon-plug-hand-drawn-tool:before { content: "\f207"; }
.flaticon-plus-hand-drawn-sign:before { content: "\f208"; }
.flaticon-plus-sign-button-hand-drawn-circle-and-cross-outlines:before { content: "\f209"; }
.flaticon-png-file-hand-drawn-interface-symbol:before { content: "\f20a"; }
.flaticon-podium-hand-drawn-outline:before { content: "\f20b"; }
.flaticon-port-hand-drawn-symbol:before { content: "\f20c"; }
.flaticon-pound-hand-drawn-currency-symbol-outline:before { content: "\f20d"; }
.flaticon-power-symbol-variant-hand-drawn-outline:before { content: "\f20e"; }
.flaticon-previous-button-hand-drawn-outline:before { content: "\f20f"; }
.flaticon-price-tag-hand-drawn-outline:before { content: "\f210"; }
.flaticon-private-folder-hand-drawn-outline:before { content: "\f211"; }
.flaticon-prohibition-hand-drawn-symbol-outline:before { content: "\f212"; }
.flaticon-psd-photoshop-file-hand-drawn-symbol:before { content: "\f213"; }
.flaticon-question-mark-inside-a-bald-male-side-head-outline:before { content: "\f214"; }
.flaticon-question-mark-outline-in-a-circle-hand-drawn-button:before { content: "\f215"; }
.flaticon-question-sign-hand-drawn-outline:before { content: "\f216"; }
.flaticon-quote-hand-drawn-symbol:before { content: "\f217"; }
.flaticon-radiation-hand-drawn-symbol:before { content: "\f218"; }
.flaticon-radio-flat-hand-drawn-tool-with-an-antenna:before { content: "\f219"; }
.flaticon-rain-weather-hand-drawn-symbol:before { content: "\f21a"; }
.flaticon-record-hand-drawn-symbol:before { content: "\f21b"; }
.flaticon-refresh-circular-arrow-hand-drawn-symbol:before { content: "\f21c"; }
.flaticon-reload-hand-drawn-arrow:before { content: "\f21d"; }
.flaticon-repeat-hand-drawn-circular-arrow-symbol:before { content: "\f21e"; }
.flaticon-rest-hand-drawn-minus-sign-outline:before { content: "\f21f"; }
.flaticon-revert-hand-drawn-arrows:before { content: "\f220"; }
.flaticon-right-arrow-hand-drawn-outline:before { content: "\f221"; }
.flaticon-right-button-hand-drawn-outline:before { content: "\f222"; }
.flaticon-robot-hand-drawn-outline:before { content: "\f223"; }
.flaticon-rocket-hand-drawn-outline:before { content: "\f224"; }
.flaticon-rss-feed-hand-drawn-symbol:before { content: "\f225"; }
.flaticon-sad-hand-drawn-face:before { content: "\f226"; }
.flaticon-sale-tag-hand-drawn-commercial-element:before { content: "\f227"; }
.flaticon-sale-tag-hand-drawn-symbol:before { content: "\f228"; }
.flaticon-sand-clock-hand-drawn-tool-outline:before { content: "\f229"; }
.flaticon-save-hand-drawn-interface-floppy-disc-symbol:before { content: "\f22a"; }
.flaticon-scissors-hand-drawn-tool:before { content: "\f22b"; }
.flaticon-screen-hand-drawn-tool:before { content: "\f22c"; }
.flaticon-screwdriver-hand-drawn-tool-outline:before { content: "\f22d"; }
.flaticon-settings-console-hand-drawn-symbol:before { content: "\f22e"; }
.flaticon-settings-hand-drawn-symbol:before { content: "\f22f"; }
.flaticon-share-hand-drawn-symbol:before { content: "\f230"; }
.flaticon-shopping-bag-hand-drawn-outline-variant:before { content: "\f231"; }
.flaticon-shopping-cart-hand-drawn-tool:before { content: "\f232"; }
.flaticon-shuffle-arrows-hand-drawn-symbol:before { content: "\f233"; }
.flaticon-signal-symbol-hand-drawn-outline:before { content: "\f234"; }
.flaticon-skype-hand-drawn-logo-outline:before { content: "\f235"; }
.flaticon-smile-hand-drawn-emoticon:before { content: "\f236"; }
.flaticon-snowflakes-couple-hand-drawn-outlines:before { content: "\f237"; }
.flaticon-soccer-ball-hand-drawn-outline:before { content: "\f238"; }
.flaticon-soda-glass-with-a-straw-hand-drawn-symbol:before { content: "\f239"; }
.flaticon-sound-hand-drawn-interface-symbol:before { content: "\f23a"; }
.flaticon-sound-hand-drawn-interface-symbol-of-a-speaker:before { content: "\f23b"; }
.flaticon-sound-hand-drawn-speaker-interface-symbol:before { content: "\f23c"; }
.flaticon-sound-hand-drawn-symbol:before { content: "\f23d"; }
.flaticon-speedometer-hand-drawn-tool:before { content: "\f23e"; }
.flaticon-squad-hand-drawn-tool:before { content: "\f23f"; }
.flaticon-square-hand-drawn-shape-outline:before { content: "\f240"; }
.flaticon-star-badge-hand-drawn-outline:before { content: "\f241"; }
.flaticon-star-hand-drawn-symbol-outline:before { content: "\f242"; }
.flaticon-star-of-six-points-variant-hand-drawn-symbol:before { content: "\f243"; }
.flaticon-star-outline-with-black-smaller-star-inside:before { content: "\f244"; }
.flaticon-stereo-hand-drawn-audio-tool:before { content: "\f245"; }
.flaticon-suitcase-hand-drawn-symbol:before { content: "\f246"; }
.flaticon-sun-hand-drawn-day-symbol:before { content: "\f247"; }
.flaticon-sun-hand-drawn-symbol:before { content: "\f248"; }
.flaticon-synchronize-sign-of-a-cloud-with-two-arrows-in-circle-hand-drawn-symbol:before { content: "\f249"; }
.flaticon-syringe-hand-drawn-tool:before { content: "\f24a"; }
.flaticon-tablet-hand-drawn-tool-outline:before { content: "\f24b"; }
.flaticon-tag-hand-drawn-symbol:before { content: "\f24c"; }
.flaticon-target-hand-drawn-circle:before { content: "\f24d"; }
.flaticon-telephone-auricular-hand-drawn-outline:before { content: "\f24e"; }
.flaticon-tennis-shoe-hand-drawn-outline:before { content: "\f24f"; }
.flaticon-terminal-hand-drawn-symbol:before { content: "\f250"; }
.flaticon-text-document-hand-drawn-symbol:before { content: "\f251"; }
.flaticon-thermometer-hand-drawn-tool:before { content: "\f252"; }
.flaticon-thunder-bolt-hand-drawn-outline:before { content: "\f253"; }
.flaticon-thunder-bolt-hand-drawn-shape-outline:before { content: "\f254"; }
.flaticon-thunderstorm-hand-drawn-weather-symbol:before { content: "\f255"; }
.flaticon-ticket-hand-drawn-outline:before { content: "\f256"; }
.flaticon-time-hand-drawn-interface-symbol:before { content: "\f257"; }
.flaticon-tools-hand-drawn-outlines-of-configuration-interface-symbol:before { content: "\f258"; }
.flaticon-trash-can-hand-drawn-symbol:before { content: "\f259"; }
.flaticon-tray-hand-drawn-outline:before { content: "\f25a"; }
.flaticon-tree-hand-drawn-rounded-foliage-shape:before { content: "\f25b"; }
.flaticon-triangle-hand-drawn-shape-outline:before { content: "\f25c"; }
.flaticon-trophy-hand-drawn-sportive-cup:before { content: "\f25d"; }
.flaticon-truck-hand-drawn-transport:before { content: "\f25e"; }
.flaticon-trumpet-hand-drawn-musical-instrument:before { content: "\f25f"; }
.flaticon-tv-hand-drawn-outline:before { content: "\f260"; }
.flaticon-twitter-hand-drawn-logo:before { content: "\f261"; }
.flaticon-umbrella-hand-drawn-opened-outline:before { content: "\f262"; }
.flaticon-undo-arrow-hand-drawn-symbol-outline-with-a-cross:before { content: "\f263"; }
.flaticon-union-hand-drawn-symbol-of-a-line-between-two-circles:before { content: "\f264"; }
.flaticon-unlock-hand-drawn-padlock-symbol:before { content: "\f265"; }
.flaticon-up-and-down-arrows-hand-drawn-triangles-couple-outline:before { content: "\f266"; }
.flaticon-up-and-down-hand-drawn-arrows-couple:before { content: "\f267"; }
.flaticon-up-arrow-hand-drawn-outline:before { content: "\f268"; }
.flaticon-up-arrow-hand-drawn-outline-1:before { content: "\f269"; }
.flaticon-up-arrow-triangle-hand-drawn-outline:before { content: "\f26a"; }
.flaticon-up-button-hand-drawn-symbol:before { content: "\f26b"; }
.flaticon-up-page-hand-drawn-interface-symbol:before { content: "\f26c"; }
.flaticon-upload-file-hand-drawn-interface-symbol:before { content: "\f26d"; }
.flaticon-upload-hand-drawn-interface-symbol-of-an-up-arrow-in-a-cloud:before { content: "\f26e"; }
.flaticon-usb-hand-drawn-symbol:before { content: "\f26f"; }
.flaticon-user-book-hand-drawn-symbol:before { content: "\f270"; }
.flaticon-user-hand-drawn-outline-in-a-rectangle:before { content: "\f271"; }
.flaticon-user-head-side-hand-drawn-outline:before { content: "\f272"; }
.flaticon-user-list-hand-drawn-interface-symbol-outline:before { content: "\f273"; }
.flaticon-users-couple-hand-drawn-outlines:before { content: "\f274"; }
.flaticon-vector-lines-hand-drawn-symbol:before { content: "\f275"; }
.flaticon-video-camera-hand-drawn-interface-symbol-outline:before { content: "\f276"; }
.flaticon-video-film-hand-drawn-symbol:before { content: "\f277"; }
.flaticon-video-hand-drawn-symbol:before { content: "\f278"; }
.flaticon-vimeo-hand-drawn-logo-outline:before { content: "\f279"; }
.flaticon-water-drop-hand-drawn-outline:before { content: "\f27a"; }
.flaticon-water-drops-hand-drawn-outlines:before { content: "\f27b"; }
.flaticon-webcam-hand-drawn-symbol:before { content: "\f27c"; }
.flaticon-wifi-hand-drawn-symbol:before { content: "\f27d"; }
.flaticon-wifi-signal-hand-drawn-symbols:before { content: "\f27e"; }
.flaticon-window-hand-drawn-symbol:before { content: "\f27f"; }
.flaticon-window-hand-drawn-symbol-for-interface:before { content: "\f280"; }
.flaticon-windows-hand-drawn-logo-outline:before { content: "\f281"; }
.flaticon-wine-glass-hand-drawn-outline:before { content: "\f282"; }
.flaticon-woman-young-head-hand-drawn-outline:before { content: "\f283"; }
.flaticon-world-grid-hand-drawn-symbol:before { content: "\f284"; }
.flaticon-wrench-hand-drawn-double-tool-outline:before { content: "\f285"; }
.flaticon-xls-excel-file-hand-drawn-interface-symbol:before { content: "\f286"; }
.flaticon-yen-hand-drawn-currency-symbol-outline:before { content: "\f287"; }
.flaticon-yin-yang-hand-drawn-symbol:before { content: "\f288"; }
.flaticon-zip-file-hand-drawn-interface-symbol:before { content: "\f289"; }
    
    $font-Flaticon-abacus-hand-drawn-tool: "\f100";
    $font-Flaticon-add-folder-hand-drawn-interface-symbol: "\f101";
    $font-Flaticon-add-hand-drawn-button-outline: "\f102";
    $font-Flaticon-add-suitcase-hand-drawn-symbol: "\f103";
    $font-Flaticon-add-text-interface-hand-drawn-symbol-outline: "\f104";
    $font-Flaticon-add-to-list-hand-drawn-interface-symbol: "\f105";
    $font-Flaticon-add-user-hand-drawn-outline: "\f106";
    $font-Flaticon-address-book-hand-drawn-outline: "\f107";
    $font-Flaticon-agenda-hand-drawn-tool-outline: "\f108";
    $font-Flaticon-alert-hand-drawn-sign: "\f109";
    $font-Flaticon-alert-hand-drawn-symbol: "\f10a";
    $font-Flaticon-alien-hand-drawn-head-outline: "\f10b";
    $font-Flaticon-american-football-ball-hand-drawn-outline: "\f10c";
    $font-Flaticon-analytics-hand-drawn-lines: "\f10d";
    $font-Flaticon-anchor-hand-drawn-tool: "\f10e";
    $font-Flaticon-android-hand-drawn-logo-outline: "\f10f";
    $font-Flaticon-apple-brand-hand-drawn-logo-outline: "\f110";
    $font-Flaticon-apple-hand-drawn-fruit-outline: "\f111";
    $font-Flaticon-arch-with-arrow-hand-drawn-tool: "\f112";
    $font-Flaticon-archive-hand-drawn-box-symbol: "\f113";
    $font-Flaticon-arroba-hand-drawn-symbol: "\f114";
    $font-Flaticon-arrow-point-hand-drawn-outline-pointing-to-right-direction: "\f115";
    $font-Flaticon-arrow-pointing-to-left-hand-drawn-outline: "\f116";
    $font-Flaticon-arrow-pointing-to-right-hand-drawn-symbol: "\f117";
    $font-Flaticon-arrow-pointing-up-hand-drawn-symbol: "\f118";
    $font-Flaticon-arrows-hand-drawn-interface-symbol-outlines: "\f119";
    $font-Flaticon-atom-hand-drawn-symbol: "\f11a";
    $font-Flaticon-attention-hand-drawn-symbol-of-an-exclamation-sign-inside-bald-head-from-side-view: "\f11b";
    $font-Flaticon-back-arrow-hand-drawn-sign: "\f11c";
    $font-Flaticon-back-arrow-pointing-left-hand-drawn-symbol: "\f11d";
    $font-Flaticon-back-hand-drawn-arrow: "\f11e";
    $font-Flaticon-back-hand-drawn-arrow-outline: "\f11f";
    $font-Flaticon-baggage-suitcase-hand-drawn-outline-from-side-view: "\f120";
    $font-Flaticon-balance-scale-hand-drawn-symbol: "\f121";
    $font-Flaticon-balloon-hand-drawn-outline: "\f122";
    $font-Flaticon-bars-graphic-hand-drawn-outlines: "\f123";
    $font-Flaticon-bars-graphic-up-hand-drawn-symbol: "\f124";
    $font-Flaticon-battery-two-thirds-status-hand-drawn-outline: "\f125";
    $font-Flaticon-beer-jar-hand-drawn-outline: "\f126";
    $font-Flaticon-behance-hand-drawn-symbol: "\f127";
    $font-Flaticon-bell-hand-drawn-interface-symbol: "\f128";
    $font-Flaticon-bike-hand-drawn-transport: "\f129";
    $font-Flaticon-bird-part-meat-hand-drawn-outline: "\f12a";
    $font-Flaticon-bomb-hand-drawn-interface-symbol-outline: "\f12b";
    $font-Flaticon-book-hand-drawn-open-pages: "\f12c";
    $font-Flaticon-bookmark-hand-drawn-outline: "\f12d";
    $font-Flaticon-bookmarks-hand-drawn-outline: "\f12e";
    $font-Flaticon-box-package-with-an-up-arrow-hand-drawn-symbol: "\f12f";
    $font-Flaticon-box-with-an-arrow-sign-pointing-down-hand-drawn-symbol: "\f130";
    $font-Flaticon-boy-hand-drawn-face: "\f131";
    $font-Flaticon-bright-hand-drawn-button-sign: "\f132";
    $font-Flaticon-bright-hand-drawn-interface-symbol-outline: "\f133";
    $font-Flaticon-bug-hand-drawn-symbol: "\f134";
    $font-Flaticon-business-graphic-down-hand-drawn-symbol: "\f135";
    $font-Flaticon-business-man-hand-drawn-outline: "\f136";
    $font-Flaticon-business-report-graphic-with-descendant-line-hand-drawn-symbol: "\f137";
    $font-Flaticon-calculator-hand-drawn-tool: "\f138";
    $font-Flaticon-calendar-hand-drawn-tool: "\f139";
    $font-Flaticon-cancel-circular-button-with-a-cross-inside-hand-drawn-outlines: "\f13a";
    $font-Flaticon-cancel-hand-drawn-cross-in-square-button-outline: "\f13b";
    $font-Flaticon-cancel-suitcase-hand-drawn-interface-symbol: "\f13c";
    $font-Flaticon-cancer-ribbon-hand-drawn-outline: "\f13d";
    $font-Flaticon-chat-bubble-hand-drawn-outline: "\f13e";
    $font-Flaticon-chat-bubbles-couple-hand-drawn-outlines: "\f13f";
    $font-Flaticon-checkmark-hand-drawn-outline: "\f140";
    $font-Flaticon-chemical-hand-drawn-container: "\f141";
    $font-Flaticon-chicken-hand-drawn-outline: "\f142";
    $font-Flaticon-clip-hand-drawn-shape: "\f143";
    $font-Flaticon-clipboard-hand-drawn-interface-symbol: "\f144";
    $font-Flaticon-clipboard-hand-drawn-symbol: "\f145";
    $font-Flaticon-clipboard-with-checkmark-hand-drawn-symbol: "\f146";
    $font-Flaticon-closed-tag-hand-drawn-signs: "\f147";
    $font-Flaticon-cloud-hand-drawn-outline: "\f148";
    $font-Flaticon-codebar-hand-drawn-lines-and-numbers: "\f149";
    $font-Flaticon-coffee-glass-hand-drawn-outline: "\f14a";
    $font-Flaticon-coffee-hot-mug-hand-drawn-outline: "\f14b";
    $font-Flaticon-cogwheel-hand-drawn-outline: "\f14c";
    $font-Flaticon-coins-stacks-of-dollars-hand-drawn-commercial-symbol: "\f14d";
    $font-Flaticon-compass-hand-drawn-circular-tool-outline: "\f14e";
    $font-Flaticon-completed-tasks-hand-drawn-clipboard-sign-with-verification-mark: "\f14f";
    $font-Flaticon-cone-for-traffic-hand-drawn-tool: "\f150";
    $font-Flaticon-configuration-hand-drawn-couple-of-cogwheels-outlines: "\f151";
    $font-Flaticon-configuration-hand-drawn-interface-symbol-of-tools-a-pencil-and-a-wrench-cross: "\f152";
    $font-Flaticon-connection-hand-drawn-symbol: "\f153";
    $font-Flaticon-connection-hand-drawn-symbol-1: "\f154";
    $font-Flaticon-contacts-book-hand-drawn: "\f155";
    $font-Flaticon-crane-hand-drawn-bones-outline: "\f156";
    $font-Flaticon-crown-hand-drawn-outline: "\f157";
    $font-Flaticon-css-file-hand-drawn-outline: "\f158";
    $font-Flaticon-cupcake-hand-drawn-dessert: "\f159";
    $font-Flaticon-cutlery: "\f15a";
    $font-Flaticon-cycle-couple-of-arrows-hand-drawn-lines: "\f15b";
    $font-Flaticon-dashboard-hand-drawn-tool: "\f15c";
    $font-Flaticon-database-hand-drawn-interface-symbol-outline: "\f15d";
    $font-Flaticon-delete-cloud-file-hand-drawn-interface-symbol: "\f15e";
    $font-Flaticon-delete-folder-hand-drawn-outline: "\f15f";
    $font-Flaticon-delete-folder-hand-drawn-symbol-outline-with-minus-sign: "\f160";
    $font-Flaticon-delete-hand-drawn-cross-symbol-outline: "\f161";
    $font-Flaticon-delete-page-hand-drawn-symbol: "\f162";
    $font-Flaticon-delete-user-hand-drawn-symbol: "\f163";
    $font-Flaticon-delicious-hand-drawn-logo: "\f164";
    $font-Flaticon-descending-graphic-hand-drawn-outline: "\f165";
    $font-Flaticon-diamond-hand-drawn-outline-side-view: "\f166";
    $font-Flaticon-directional-arrows-signal-hand-drawn-symbol-pointing-left-and-right-opposite-directions: "\f167";
    $font-Flaticon-directions-of-winds-star-hand-drawn-symbol: "\f168";
    $font-Flaticon-dna-hand-drawn-symbol: "\f169";
    $font-Flaticon-document-file-hand-drawn-symbol: "\f16a";
    $font-Flaticon-document-hand-drawn-outline: "\f16b";
    $font-Flaticon-dont-like-symbol: "\f16c";
    $font-Flaticon-down-arrow-hand-drawn-outline: "\f16d";
    $font-Flaticon-down-arrow-hand-drawn-sign: "\f16e";
    $font-Flaticon-down-arrow-hand-drawn-triangle: "\f16f";
    $font-Flaticon-down-button-hand-drawn-arrow-and-squares-outlines: "\f170";
    $font-Flaticon-down-page-hand-drawn-symbol: "\f171";
    $font-Flaticon-download-hand-drawn-interface-symbol-of-a-tray-with-a-descending-arrow-on-it: "\f172";
    $font-Flaticon-drawers-hand-drawn-tool-outline: "\f173";
    $font-Flaticon-dribbble-hand-drawn-logo: "\f174";
    $font-Flaticon-dropper-hand-drawn-outline: "\f175";
    $font-Flaticon-edit-hand-drawn-interface-symbol: "\f176";
    $font-Flaticon-edit-note-hand-drawn-interface-symbol: "\f177";
    $font-Flaticon-eject-hand-drawn-symbol: "\f178";
    $font-Flaticon-empty-battery-hand-drawn-interface-symbol: "\f179";
    $font-Flaticon-eps-vector-file-hand-drawn-symbol: "\f17a";
    $font-Flaticon-euro-hand-drawn-currency-symbol: "\f17b";
    $font-Flaticon-exit-hand-drawn-interface-symbol: "\f17c";
    $font-Flaticon-exit-hand-drawn-interface-symbol-variant: "\f17d";
    $font-Flaticon-expand-hand-drawn-interface-arrows-symbol-outline: "\f17e";
    $font-Flaticon-expand-hand-drawn-interface-symbol-of-two-opposite-arrows-outlines: "\f17f";
    $font-Flaticon-export-hand-drawn-symbol: "\f180";
    $font-Flaticon-eye-hand-drawn-variant: "\f181";
    $font-Flaticon-facebook-letter-logo-in-a-square-hand-drawn-outline: "\f182";
    $font-Flaticon-factory-hand-drawn-building-outline: "\f183";
    $font-Flaticon-favorite-user-hand-drawn-interface-symbol: "\f184";
    $font-Flaticon-feather-hand-drawn-outline: "\f185";
    $font-Flaticon-female-hand-drawn-symbol-outline: "\f186";
    $font-Flaticon-fire-hand-drawn-flames-outlines: "\f187";
    $font-Flaticon-flag-hand-drawn-outline: "\f188";
    $font-Flaticon-fonts-hand-drawn-symbol-outline: "\f189";
    $font-Flaticon-forward-arrow-hand-drawn-button: "\f18a";
    $font-Flaticon-forward-hand-drawn-arrow-pointing-to-right: "\f18b";
    $font-Flaticon-foursquare-hand-drawn-logo-outline: "\f18c";
    $font-Flaticon-free-tag-hand-drawn-sign: "\f18d";
    $font-Flaticon-full-battery-symbol-hand-drawn-outline: "\f18e";
    $font-Flaticon-funnel-hand-drawn-symbol: "\f18f";
    $font-Flaticon-gallery-hand-drawn-interface-symbol-of-irregular-squares-outlines: "\f190";
    $font-Flaticon-game-controller-hand-drawn-tool: "\f191";
    $font-Flaticon-gif-image-file-hand-drawn-outline: "\f192";
    $font-Flaticon-gift-box-hand-drawn-outline: "\f193";
    $font-Flaticon-glass-hand-drawn-outline: "\f194";
    $font-Flaticon-go-to-the-top-hand-drawn-interface-symbol-with-an-arrow-pointing-up-to-a-thin-rectangle: "\f195";
    $font-Flaticon-graduate-hand-drawn-hat-outline: "\f196";
    $font-Flaticon-gym-dumbbell-hand-drawn-tool: "\f197";
    $font-Flaticon-hand-drawn-google-plus-logo: "\f198";
    $font-Flaticon-hdd-hand-drawn-symbol-outline: "\f199";
    $font-Flaticon-headphones-hand-drawn-tool: "\f19a";
    $font-Flaticon-heart-hand-drawn-symbol-outline: "\f19b";
    $font-Flaticon-heart-with-cupid-arrow-hand-drawn-symbol: "\f19c";
    $font-Flaticon-horseshoe-with-holes-hand-drawn-outline: "\f19d";
    $font-Flaticon-hot-dog-hand-drawn-food-outline: "\f19e";
    $font-Flaticon-house-hand-drawn-outline: "\f19f";
    $font-Flaticon-html-file-hand-drawn-symbol: "\f1a0";
    $font-Flaticon-ice-cream-on-a-cone-hand-drawn-dessert: "\f1a1";
    $font-Flaticon-id-hand-drawn-symbol: "\f1a2";
    $font-Flaticon-idea-hand-drawn-symbol-of-a-side-head-with-a-lightbulb-inside: "\f1a3";
    $font-Flaticon-illustrator-file-hand-drawn-interface-symbol: "\f1a4";
    $font-Flaticon-inbox-hand-drawn-tray-symbol-with-an-arrow: "\f1a5";
    $font-Flaticon-inbox-hand-drawn-tray-with-arrow: "\f1a6";
    $font-Flaticon-incomplete-hand-drawn-symbol: "\f1a7";
    $font-Flaticon-increase-zoom-hand-drawn-symbol: "\f1a8";
    $font-Flaticon-infinite-hand-drawn-sign: "\f1a9";
    $font-Flaticon-information-hand-drawn-circular-button: "\f1aa";
    $font-Flaticon-information-hand-drawn-irregular-button: "\f1ab";
    $font-Flaticon-instagram-hand-drawn-logo: "\f1ac";
    $font-Flaticon-java-script-hand-drawn-file: "\f1ad";
    $font-Flaticon-join-of-four-arrows-hand-drawn-outlines: "\f1ae";
    $font-Flaticon-jpg-hand-drawn-file-symbol: "\f1af";
    $font-Flaticon-jump-hand-drawn-arrow: "\f1b0";
    $font-Flaticon-key-hand-drawn-outline: "\f1b1";
    $font-Flaticon-keyboard-hand-drawn-irregular-tool-shape-outline: "\f1b2";
    $font-Flaticon-kilometers-route-signal-hand-drawn-outline: "\f1b3";
    $font-Flaticon-lantern-on-hand-drawn-tool-outline: "\f1b4";
    $font-Flaticon-leaf-hand-drawn-shape: "\f1b5";
    $font-Flaticon-left-arrow-hand-drawn-outline: "\f1b6";
    $font-Flaticon-left-arrow-hand-drawn-triangle: "\f1b7";
    $font-Flaticon-left-arrow-hand-drawn-triangular-shape: "\f1b8";
    $font-Flaticon-left-button-with-an-arrow-hand-drawn-symbol: "\f1b9";
    $font-Flaticon-less-zoom-hand-drawn-symbol: "\f1ba";
    $font-Flaticon-life-guard-hand-drawn-tool: "\f1bb";
    $font-Flaticon-lifeline-hand-drawn-status-line: "\f1bc";
    $font-Flaticon-lightbulb-hand-drawn-symbol: "\f1bd";
    $font-Flaticon-like-thumb-up-hand-drawn-symbol-outline: "\f1be";
    $font-Flaticon-link-hand-drawn-interface-symbol: "\f1bf";
    $font-Flaticon-link-hand-drawn-symbol: "\f1c0";
    $font-Flaticon-linkedin-logo-hand-drawn-outline: "\f1c1";
    $font-Flaticon-list-items-hand-drawn-symbol-outlines: "\f1c2";
    $font-Flaticon-list-menu-hand-drawn-symbol-of-three-thin-rectangles-outlines: "\f1c3";
    $font-Flaticon-list-paper-hand-drawn-symbol: "\f1c4";
    $font-Flaticon-location-pin-hand-drawn-sign: "\f1c5";
    $font-Flaticon-lock-hand-drawn-padlock-symbol: "\f1c6";
    $font-Flaticon-love-hand-drawn-couple-of-hearts: "\f1c7";
    $font-Flaticon-love-hand-drawn-heart-symbol-outline: "\f1c8";
    $font-Flaticon-low-battery-hand-drawn-interface-symbol: "\f1c9";
    $font-Flaticon-magic-wand-hand-drawn-tool: "\f1ca";
    $font-Flaticon-magnet-hand-drawn-tool-outline: "\f1cb";
    $font-Flaticon-magnifying-glass-hand-drawn-tool: "\f1cc";
    $font-Flaticon-mail-envelope-back-hand-drawn-outline: "\f1cd";
    $font-Flaticon-male-hand-drawn-symbol-outline: "\f1ce";
    $font-Flaticon-map-hand-drawn-paper: "\f1cf";
    $font-Flaticon-map-location-hand-drawn-interface-symbol: "\f1d0";
    $font-Flaticon-megaphone-hand-drawn-tool-outline: "\f1d1";
    $font-Flaticon-menu-curve-lines-variant-hand-drawn-outlines: "\f1d2";
    $font-Flaticon-menu-hand-drawn-lines-outlines: "\f1d3";
    $font-Flaticon-microphone-hand-drawn-voice-interface-symbol-outline: "\f1d4";
    $font-Flaticon-microscope-hand-drawn-tool-outline: "\f1d5";
    $font-Flaticon-minus-sign-in-a-circle-hand-drawn-outlines: "\f1d6";
    $font-Flaticon-minus-sign-inside-a-square-hand-drawn-symbol: "\f1d7";
    $font-Flaticon-money-bag-hand-drawn-variant: "\f1d8";
    $font-Flaticon-money-paper-of-dollars-hand-drawn-symbol: "\f1d9";
    $font-Flaticon-money-stack-hand-drawn-outline: "\f1da";
    $font-Flaticon-money-symbol-hand-drawn-outline: "\f1db";
    $font-Flaticon-monitoring-graphic-hand-drawn-symbol: "\f1dc";
    $font-Flaticon-moon-hand-drawn-circle: "\f1dd";
    $font-Flaticon-moon-phase-hand-drawn-outline: "\f1de";
    $font-Flaticon-mosaic-of-four-hand-drawn-squares-tiles: "\f1df";
    $font-Flaticon-mosaic-of-nine-square-tiles-hand-drawn-symbol: "\f1e0";
    $font-Flaticon-mouse-hand-drawn-tool: "\f1e1";
    $font-Flaticon-mug-coffee-hand-drawn-symbol: "\f1e2";
    $font-Flaticon-musical-note-hand-drawn-outline: "\f1e3";
    $font-Flaticon-musical-symbol-hand-drawn-outline: "\f1e4";
    $font-Flaticon-mustache-and-glasses-hand-drawn-outlines: "\f1e5";
    $font-Flaticon-new-tag-hand-drawn-outline: "\f1e6";
    $font-Flaticon-next-hand-drawn-arrow-pointing-to-right: "\f1e7";
    $font-Flaticon-next-page-hand-drawn-symbol: "\f1e8";
    $font-Flaticon-next-user-hand-drawn-interface-symbol: "\f1e9";
    $font-Flaticon-no-sound-hand-drawn-symbol-of-a-speaker-outline-with-a-cross: "\f1ea";
    $font-Flaticon-octocat-hand-drawn-logo-outline: "\f1eb";
    $font-Flaticon-old-man-hand-drawn-face: "\f1ec";
    $font-Flaticon-open-commercial-signal-hand-drawn-outline: "\f1ed";
    $font-Flaticon-outbox-hand-drawn-symbol: "\f1ee";
    $font-Flaticon-pages-hand-drawn-interface-symbol: "\f1ef";
    $font-Flaticon-paint-brush-hand-drawn-tool: "\f1f0";
    $font-Flaticon-painting-palette-hand-drawn-tool: "\f1f1";
    $font-Flaticon-palm-hand-drawn-tree: "\f1f2";
    $font-Flaticon-paper-file-hand-drawn-symbol: "\f1f3";
    $font-Flaticon-paper-hand-drawn-symbol: "\f1f4";
    $font-Flaticon-paper-list-hand-drawn-symbol: "\f1f5";
    $font-Flaticon-paper-plane-hand-drawn-outline: "\f1f6";
    $font-Flaticon-paper-sheet-hand-drawn-interface-file-symbol: "\f1f7";
    $font-Flaticon-paper-tray-hand-drawn-outline: "\f1f8";
    $font-Flaticon-pause-hand-drawn-symbol: "\f1f9";
    $font-Flaticon-pdf-file-hand-drawn-symbol: "\f1fa";
    $font-Flaticon-pen-hand-drawn-tool-outline: "\f1fb";
    $font-Flaticon-pencil-hand-drawn-tool-outline: "\f1fc";
    $font-Flaticon-phone-hand-drawn-outline: "\f1fd";
    $font-Flaticon-php-file-hand-drawn-interface-symbol: "\f1fe";
    $font-Flaticon-pi-hand-drawn-symbol: "\f1ff";
    $font-Flaticon-picture-hanging-in-a-frame-hand-drawn-symbol: "\f200";
    $font-Flaticon-picture-of-a-landscape-hand-drawn-symbol: "\f201";
    $font-Flaticon-pie-graphic-hand-drawn-business-symbol: "\f202";
    $font-Flaticon-pin-hand-drawn-irregular-outline: "\f203";
    $font-Flaticon-pine-hand-drawn-tree-outline: "\f204";
    $font-Flaticon-pinterest-hand-drawn-logo: "\f205";
    $font-Flaticon-pipe-hand-drawn-tool: "\f206";
    $font-Flaticon-plug-hand-drawn-tool: "\f207";
    $font-Flaticon-plus-hand-drawn-sign: "\f208";
    $font-Flaticon-plus-sign-button-hand-drawn-circle-and-cross-outlines: "\f209";
    $font-Flaticon-png-file-hand-drawn-interface-symbol: "\f20a";
    $font-Flaticon-podium-hand-drawn-outline: "\f20b";
    $font-Flaticon-port-hand-drawn-symbol: "\f20c";
    $font-Flaticon-pound-hand-drawn-currency-symbol-outline: "\f20d";
    $font-Flaticon-power-symbol-variant-hand-drawn-outline: "\f20e";
    $font-Flaticon-previous-button-hand-drawn-outline: "\f20f";
    $font-Flaticon-price-tag-hand-drawn-outline: "\f210";
    $font-Flaticon-private-folder-hand-drawn-outline: "\f211";
    $font-Flaticon-prohibition-hand-drawn-symbol-outline: "\f212";
    $font-Flaticon-psd-photoshop-file-hand-drawn-symbol: "\f213";
    $font-Flaticon-question-mark-inside-a-bald-male-side-head-outline: "\f214";
    $font-Flaticon-question-mark-outline-in-a-circle-hand-drawn-button: "\f215";
    $font-Flaticon-question-sign-hand-drawn-outline: "\f216";
    $font-Flaticon-quote-hand-drawn-symbol: "\f217";
    $font-Flaticon-radiation-hand-drawn-symbol: "\f218";
    $font-Flaticon-radio-flat-hand-drawn-tool-with-an-antenna: "\f219";
    $font-Flaticon-rain-weather-hand-drawn-symbol: "\f21a";
    $font-Flaticon-record-hand-drawn-symbol: "\f21b";
    $font-Flaticon-refresh-circular-arrow-hand-drawn-symbol: "\f21c";
    $font-Flaticon-reload-hand-drawn-arrow: "\f21d";
    $font-Flaticon-repeat-hand-drawn-circular-arrow-symbol: "\f21e";
    $font-Flaticon-rest-hand-drawn-minus-sign-outline: "\f21f";
    $font-Flaticon-revert-hand-drawn-arrows: "\f220";
    $font-Flaticon-right-arrow-hand-drawn-outline: "\f221";
    $font-Flaticon-right-button-hand-drawn-outline: "\f222";
    $font-Flaticon-robot-hand-drawn-outline: "\f223";
    $font-Flaticon-rocket-hand-drawn-outline: "\f224";
    $font-Flaticon-rss-feed-hand-drawn-symbol: "\f225";
    $font-Flaticon-sad-hand-drawn-face: "\f226";
    $font-Flaticon-sale-tag-hand-drawn-commercial-element: "\f227";
    $font-Flaticon-sale-tag-hand-drawn-symbol: "\f228";
    $font-Flaticon-sand-clock-hand-drawn-tool-outline: "\f229";
    $font-Flaticon-save-hand-drawn-interface-floppy-disc-symbol: "\f22a";
    $font-Flaticon-scissors-hand-drawn-tool: "\f22b";
    $font-Flaticon-screen-hand-drawn-tool: "\f22c";
    $font-Flaticon-screwdriver-hand-drawn-tool-outline: "\f22d";
    $font-Flaticon-settings-console-hand-drawn-symbol: "\f22e";
    $font-Flaticon-settings-hand-drawn-symbol: "\f22f";
    $font-Flaticon-share-hand-drawn-symbol: "\f230";
    $font-Flaticon-shopping-bag-hand-drawn-outline-variant: "\f231";
    $font-Flaticon-shopping-cart-hand-drawn-tool: "\f232";
    $font-Flaticon-shuffle-arrows-hand-drawn-symbol: "\f233";
    $font-Flaticon-signal-symbol-hand-drawn-outline: "\f234";
    $font-Flaticon-skype-hand-drawn-logo-outline: "\f235";
    $font-Flaticon-smile-hand-drawn-emoticon: "\f236";
    $font-Flaticon-snowflakes-couple-hand-drawn-outlines: "\f237";
    $font-Flaticon-soccer-ball-hand-drawn-outline: "\f238";
    $font-Flaticon-soda-glass-with-a-straw-hand-drawn-symbol: "\f239";
    $font-Flaticon-sound-hand-drawn-interface-symbol: "\f23a";
    $font-Flaticon-sound-hand-drawn-interface-symbol-of-a-speaker: "\f23b";
    $font-Flaticon-sound-hand-drawn-speaker-interface-symbol: "\f23c";
    $font-Flaticon-sound-hand-drawn-symbol: "\f23d";
    $font-Flaticon-speedometer-hand-drawn-tool: "\f23e";
    $font-Flaticon-squad-hand-drawn-tool: "\f23f";
    $font-Flaticon-square-hand-drawn-shape-outline: "\f240";
    $font-Flaticon-star-badge-hand-drawn-outline: "\f241";
    $font-Flaticon-star-hand-drawn-symbol-outline: "\f242";
    $font-Flaticon-star-of-six-points-variant-hand-drawn-symbol: "\f243";
    $font-Flaticon-star-outline-with-black-smaller-star-inside: "\f244";
    $font-Flaticon-stereo-hand-drawn-audio-tool: "\f245";
    $font-Flaticon-suitcase-hand-drawn-symbol: "\f246";
    $font-Flaticon-sun-hand-drawn-day-symbol: "\f247";
    $font-Flaticon-sun-hand-drawn-symbol: "\f248";
    $font-Flaticon-synchronize-sign-of-a-cloud-with-two-arrows-in-circle-hand-drawn-symbol: "\f249";
    $font-Flaticon-syringe-hand-drawn-tool: "\f24a";
    $font-Flaticon-tablet-hand-drawn-tool-outline: "\f24b";
    $font-Flaticon-tag-hand-drawn-symbol: "\f24c";
    $font-Flaticon-target-hand-drawn-circle: "\f24d";
    $font-Flaticon-telephone-auricular-hand-drawn-outline: "\f24e";
    $font-Flaticon-tennis-shoe-hand-drawn-outline: "\f24f";
    $font-Flaticon-terminal-hand-drawn-symbol: "\f250";
    $font-Flaticon-text-document-hand-drawn-symbol: "\f251";
    $font-Flaticon-thermometer-hand-drawn-tool: "\f252";
    $font-Flaticon-thunder-bolt-hand-drawn-outline: "\f253";
    $font-Flaticon-thunder-bolt-hand-drawn-shape-outline: "\f254";
    $font-Flaticon-thunderstorm-hand-drawn-weather-symbol: "\f255";
    $font-Flaticon-ticket-hand-drawn-outline: "\f256";
    $font-Flaticon-time-hand-drawn-interface-symbol: "\f257";
    $font-Flaticon-tools-hand-drawn-outlines-of-configuration-interface-symbol: "\f258";
    $font-Flaticon-trash-can-hand-drawn-symbol: "\f259";
    $font-Flaticon-tray-hand-drawn-outline: "\f25a";
    $font-Flaticon-tree-hand-drawn-rounded-foliage-shape: "\f25b";
    $font-Flaticon-triangle-hand-drawn-shape-outline: "\f25c";
    $font-Flaticon-trophy-hand-drawn-sportive-cup: "\f25d";
    $font-Flaticon-truck-hand-drawn-transport: "\f25e";
    $font-Flaticon-trumpet-hand-drawn-musical-instrument: "\f25f";
    $font-Flaticon-tv-hand-drawn-outline: "\f260";
    $font-Flaticon-twitter-hand-drawn-logo: "\f261";
    $font-Flaticon-umbrella-hand-drawn-opened-outline: "\f262";
    $font-Flaticon-undo-arrow-hand-drawn-symbol-outline-with-a-cross: "\f263";
    $font-Flaticon-union-hand-drawn-symbol-of-a-line-between-two-circles: "\f264";
    $font-Flaticon-unlock-hand-drawn-padlock-symbol: "\f265";
    $font-Flaticon-up-and-down-arrows-hand-drawn-triangles-couple-outline: "\f266";
    $font-Flaticon-up-and-down-hand-drawn-arrows-couple: "\f267";
    $font-Flaticon-up-arrow-hand-drawn-outline: "\f268";
    $font-Flaticon-up-arrow-hand-drawn-outline-1: "\f269";
    $font-Flaticon-up-arrow-triangle-hand-drawn-outline: "\f26a";
    $font-Flaticon-up-button-hand-drawn-symbol: "\f26b";
    $font-Flaticon-up-page-hand-drawn-interface-symbol: "\f26c";
    $font-Flaticon-upload-file-hand-drawn-interface-symbol: "\f26d";
    $font-Flaticon-upload-hand-drawn-interface-symbol-of-an-up-arrow-in-a-cloud: "\f26e";
    $font-Flaticon-usb-hand-drawn-symbol: "\f26f";
    $font-Flaticon-user-book-hand-drawn-symbol: "\f270";
    $font-Flaticon-user-hand-drawn-outline-in-a-rectangle: "\f271";
    $font-Flaticon-user-head-side-hand-drawn-outline: "\f272";
    $font-Flaticon-user-list-hand-drawn-interface-symbol-outline: "\f273";
    $font-Flaticon-users-couple-hand-drawn-outlines: "\f274";
    $font-Flaticon-vector-lines-hand-drawn-symbol: "\f275";
    $font-Flaticon-video-camera-hand-drawn-interface-symbol-outline: "\f276";
    $font-Flaticon-video-film-hand-drawn-symbol: "\f277";
    $font-Flaticon-video-hand-drawn-symbol: "\f278";
    $font-Flaticon-vimeo-hand-drawn-logo-outline: "\f279";
    $font-Flaticon-water-drop-hand-drawn-outline: "\f27a";
    $font-Flaticon-water-drops-hand-drawn-outlines: "\f27b";
    $font-Flaticon-webcam-hand-drawn-symbol: "\f27c";
    $font-Flaticon-wifi-hand-drawn-symbol: "\f27d";
    $font-Flaticon-wifi-signal-hand-drawn-symbols: "\f27e";
    $font-Flaticon-window-hand-drawn-symbol: "\f27f";
    $font-Flaticon-window-hand-drawn-symbol-for-interface: "\f280";
    $font-Flaticon-windows-hand-drawn-logo-outline: "\f281";
    $font-Flaticon-wine-glass-hand-drawn-outline: "\f282";
    $font-Flaticon-woman-young-head-hand-drawn-outline: "\f283";
    $font-Flaticon-world-grid-hand-drawn-symbol: "\f284";
    $font-Flaticon-wrench-hand-drawn-double-tool-outline: "\f285";
    $font-Flaticon-xls-excel-file-hand-drawn-interface-symbol: "\f286";
    $font-Flaticon-yen-hand-drawn-currency-symbol-outline: "\f287";
    $font-Flaticon-yin-yang-hand-drawn-symbol: "\f288";
    $font-Flaticon-zip-file-hand-drawn-interface-symbol: "\f289";